.home_container{
    width: 100%;
}


.buttons_container{
    width: 100%;
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
}

.buttons{
    width: 20.6%;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 5px;
    border-radius: 50px;
    margin-left: -0%;
    margin-right: 0.6%;
    font-size: 0.9em;
}


.cv-element{
    width: 97%;
    cursor: pointer;
}

/* MODAL STARTS HERE */

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    z-index: 30;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 500px;
	width: 600px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 30px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

.profile-picture{
    border-radius:30px;
    height: 30%;
    margin-top: 3%;
}

hr {
    background-color: rgb(0, 0, 0);
    margin-top: 2rem;
    width: 80%; 
    height: 0.1%;
}

.headline{
    margin-bottom: -5%;
}

/* Cardlayout */

.cards_container{
    width: 85%;
    height: 500px;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-right: 7.5%;
    margin-left: 7.5%;
}

.column{
    width: 30%;
    height: 500px;
}

.bg-modalMail {
  /* background-color: rgba(63, 61, 61, 0.8); */
  width: 100%;
  height: 300%;
  position: absolute;
  top: 0;
  z-index: 30;
  display: none;
  justify-content: center;
  align-items: center;
}


.modal-contentsMail {
  height: 750px;
  width: 600px;
  background-color: rgb(43, 32, 54);
  /* background-color: white; */
  text-align: center;
  /* padding-bottom: 2cm; */
  /* margin-top: 0px; */
  margin-bottom: 25cm;
  margin-top: 1cm;
  padding-bottom: 0cm;
  padding-top: -2cm;
  position: relative;
  border-radius: 30px;
}



.closeMail {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: white;
  transform: rotate(45deg);
  cursor: pointer;
  margin-top: 0cm;
  padding-top: 0cm;
}




/* Mailform */

.mailform {
  border-radius: 30px;
  height: 30%;
  margin-bottom: 20cm;
  margin-top: 0cm;
  padding-bottom: 30cm;
  padding-top: 0cm;
}

.btnContactMe {
  padding: 15px 25px;
  font-size: 18px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(43, 32, 54);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-top: 0.5cm;
}

.btnContactMe:hover {
  background-color: rgb(83, 62, 104);
}

.btnContactMe:active {
  background-color: rgb(43, 32, 54);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
