#welcome-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    font-size: 2em;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 32, 54);
  }

  .home-view {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 30px;
    background-color: #dfdfdf;
    border-radius: 15px;
  }