.home_container{
    width: 100%;
}


.buttons_container{
    width: 100%;
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
}

.buttons{
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 5px;
    border-radius: 50px;
}


.cv-element{
    width: 97%;
}