.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 32, 54);
}

.signup-view {
  display: grid;
  padding: 50px;
  margin: 30px;
  background-color: #dfdfdf;
  border-radius: 15px;
}

.signup-box {
  margin-bottom: 30px;
}

.signup-box>* {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.settings-box>* {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#keywords-textbox>* {
  width: 80%;
}
